.container1{
    background-color: rgb(233, 138, 13);
    padding: 10px 10px; 
}
.main1{
    display: flex;
    justify-content: space-between;
}
img{
    margin-top: 10px;
    width: 50px;
    border-radius: 50%;
    height: 60px;
    margin-left: 100px;
}
ul{
    display: flex;
    justify-content: flex-end;
    gap: 70px;
    margin-right: 30px;
    cursor: pointer;
}
li{
font-size: 25px;
font-weight: 600;
list-style-type: none;
color: whitesmoke;
padding: 5px 5px;

}
li:hover{
    background-color: rgb(253, 253, 255);
    border-radius: 10px;
    color: rgb(246, 154, 5);
}